* {
    box-sizing: border-box;

    padding: 0;
    border: 0;
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background-color: #f3f3f3;
}

ion-icon {
    cursor: pointer;
}

header, footer {
    position: fixed;
    
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 23px;

    background-color: #fff;
}

header {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

header img {
    height: 53px;
}

header ion-icon {
    font-size: 42px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 5px;

    padding: 106px 0;
}

article {
    max-width: 100%;

    padding: 11px 5px;

    font-size: 14px;
    line-height: 20px;
    overflow-wrap: break-word;
}

article time {
    color: #aaa;
}

.status {
    background-color: #DCDCDC;
}

.message {
    background-color: #fff;
}

.private_message {
    background-color: #FDDEDE;
}

aside {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;

    width: 0;
    height: 100vh;

    background-color: #fff;
}

aside.open {
    width: 65vw;
}


footer {
    bottom: 0;

    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

footer input {
    all: unset;

    width: 100%;
    height: 30px;
}

footer input::placeholder {
    font-size: 18px;
    line-height: 21px;
    font-style: italic;

    color: #000000;
}

footer ion-icon {
    font-size: 26px;
}