* {
    box-sizing: border-box;

    padding: 0;
    border: 0;
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background-color: #f3f3f3;
}

ion-icon, li {
    cursor: pointer;
}

.login-screen {
    position: fixed;
    z-index: 3;
    top: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 97px;

    padding-top: 72px;

    background-color: #fff;
}

.login-screen div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.login-screen div input{
    width: 261px;
    height: 54px;

    display: flex;
    text-align: center;

    border: 1px solid #D7D7D7;
    border-radius: 4px;

    background-color: #fff;
}

.login-screen div input::placeholder{
    font-size: 18px;  
}

.login-screen div button {
    width: 109px;
    height: 45px;
    
    font-size: 18px;

    border-radius: 9px;
    cursor: pointer;

    color: #696969;
    background-color: #E7E7E7;
}

header, footer {
    position: fixed;
    
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 23px;

    background-color: #fff;
}

header {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

header img {
    height: 53px;
}

header ion-icon {
    font-size: 42px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 5px;

    padding: 106px 0;
}

article {
    max-width: 100%;

    padding: 11px 5px;

    font-size: 14px;
    line-height: 20px;
    overflow-wrap: break-word;
}

article time {
    color: #aaa;
}

.status {
    background-color: #DCDCDC;
}

.message {
    background-color: #fff;
}

.private_message {
    background-color: #FDDEDE;
}

aside {
    position: fixed;
    z-index: 1;
    top: 0;

    display: none;

    width: 100vw;
    height: 100vh;

}

aside.open {
    display: flex;
}

aside .menu-background {
    width: calc(100% - 259px);
    height: 100%;

    opacity: 0.8;

    background-color: #000;
}

aside .container-menu {
    width: 259px;
    height: 100%;

    opacity: 1;

    overflow-y: scroll;

    background-color: #fff;
}

aside .container-menu h2 {
    font-size: 16px;
    line-height: 19px;

    text-align: center;

    margin: 30px 20px;
}

aside .container-menu ul li {
    position: relative;

    display: flex;
    align-items: center;
    gap: 7px;

    margin: 0 0 7px 15px;
}

aside .container-menu ul li .check {
    position: absolute;
    right: 20px;

    opacity: 0;

    color: green;
}

aside .container-menu ul li.choosed .check {
    position: absolute;
    right: 20px;

    opacity: 1;

    color: green;
}

aside .container-menu ul li ion-icon {
    font-size: 25px;
}

footer {
    bottom: 0;

    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

footer div span{
    font-size: 14px;

    color: #696969;
}

footer input {
    all: unset;

    width: 100%;
    height: 30px;
}

footer input::placeholder {
    font-size: 18px;
    line-height: 21px;
    font-style: italic;

    color: #000000;
}

footer ion-icon {
    font-size: 26px;
}

.display-none {
    display: none;
}